{% extends 'user/basic.html' %} {% load static %} {% block title %} Meet The Team {%endblock title%} {% block css %} {% endblock css %} {% block body %}
<!-- Sub banner start -->
<div class="sub-banner h-75"
  style="background:url('/media/9-bl.png');background-attachment:center;
  background-repeat:no-repeat;background-position:center;background-size:cover;">
  <div class="container">
    <div class="breadcrumb-area">
      <h4 class="display-4 text-light">Meet the team</h4>
    </div>
  </div>
</div>
<!-- Sub banner end -->
<div class="container my-5">

  <h1 class="h1 text-center py-4" style="color:#00CE8D;"><span style="color:#262525">Meet Our </span>Award Winning Team</h1>
  <hr style="height:5px;background-color: #00CE8D;"/>
  <p class="lead text-center py-3 mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting
    industry. Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a
    galley of type and scrambled it to make a type specimen book.
    1500s, when an unknown printer took a
    galley of type and scrambled it to make a type specimen book.
  </p>



  <div class="row">
    <div class="col-12">
      <hr class="my-5 w-50 mx-auto" style="height:5px;background-color: #00CE8D;"/>
      <h2 class="h-2 text-center py-4" style="color:#00CE8D;"><span style="color:#262525">Senior </span>Management Team</h2>
      <hr class="my-5" style="height:5px;background-color: #00CE8D;"/>
    </div>
    <!--Team Card  Start-->
    <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
      <div class="position-relative tm-card" style="height:550px!important">
        <img src="{% static 'img/team/HEAD_SHOTS/RYAN GRIFFITHS - PROPERTY SALES CONSULTANT.jpeg' %}"
        class="w-100" style="height:80%;object-fit:cover;">

        <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
          <div class="card text-white bg-dark mb-3">
            <div class="card-header fs-6 text-center">PROPERTY SALES CONSULTANT</div>
            <div class="card-body">
              <h5 class="card-title text-light text-center pb-3">RYAN GRIFFITHS</h5>
              <div class="col-12 d-flex justify-content-center mb-3">
                <div class="d-flex gap-3 justify-content-between">
                  <a class="btn cont-sec"><i class="fa fa-instagram"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-facebook"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-twitter"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-whatsapp"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tm-info text-light">
          <p class="lead text-light">
            Lorem Ipsum is simply dummy text
            of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer
          </p>
        </div>

      </div>

    </div>
    <!--Team Card  End-->
    <!--Team Card  Start-->
    <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
      <div class="position-relative tm-card" style="height:550px!important">
        <img src="{% static 'img/team/HEAD_SHOTS/NATALIE DICKINSON - PROPERTY SALES CONSULTANT .jpeg' %}"
        class="w-100" style="height:80%;object-fit:cover;">

        <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
          <div class="card text-white bg-dark mb-3">
            <div class="card-header fs-6 text-center">PROPERTY SALES CONSULTANT</div>
            <div class="card-body">
              <h5 class="card-title text-light text-center pb-3">NATALIE DICKINSON</h5>
              <div class="col-12 d-flex justify-content-center mb-3">
                <div class="d-flex gap-3 justify-content-between">
                  <a class="btn cont-sec"><i class="fa fa-instagram"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-facebook"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-twitter"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-whatsapp"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tm-info text-light">
          <p class="lead text-light">
            Lorem Ipsum is simply dummy text
            of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer
          </p>
        </div>

      </div>

    </div>
    <!--Team Card  End-->
    <!--Team Card  Start-->
    <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
      <div class="position-relative tm-card" style="height:550px!important">
        <img src="{% static 'img/team/HEAD_SHOTS/JENNIFER IFTAKAR - HEAD OF STRATEGIC PARTNERSHIPS.jpeg' %}"
        class="w-100" style="height:80%;object-fit:cover;">

        <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
          <div class="card text-white bg-dark mb-3">
            <div class="card-header fs-6 text-center">HEAD OF STRATEGIC PARTNERSHIPS</div>
            <div class="card-body">
              <h5 class="card-title text-light text-center pb-3">JENNIFER IFTAKAR</h5>
              <div class="col-12 d-flex justify-content-center mb-3">
                <div class="d-flex gap-3 justify-content-between">
                  <a class="btn cont-sec"><i class="fa fa-instagram"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-facebook"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-twitter"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-whatsapp"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tm-info text-light">
          <p class="lead text-light">
            Lorem Ipsum is simply dummy text
            of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer
          </p>
        </div>

      </div>

    </div>
    <!--Team Card  End-->
    <!--Team Card  Start-->
    <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
      <div class="position-relative tm-card" style="height:550px!important">
        <img src="{% static 'img/team/HEAD_SHOTS/BEN JOHNSON - PROPERTY SALES CONSULTANT.jpeg' %}"
        class="w-100" style="height:80%;object-fit:cover;">

        <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
          <div class="card text-white bg-dark mb-3">
            <div class="card-header fs-6 text-center">PROPERTY SALES CONSULTANT</div>
            <div class="card-body">
              <h5 class="card-title text-light text-center pb-3">BEN JOHNSON</h5>
              <div class="col-12 d-flex justify-content-center mb-3">
                <div class="d-flex gap-3 justify-content-between">
                  <a class="btn cont-sec"><i class="fa fa-instagram"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-facebook"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-twitter"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-whatsapp"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tm-info text-light">
          <p class="lead text-light">
            Lorem Ipsum is simply dummy text
            of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer
          </p>
        </div>

      </div>

    </div>
    <!--Team Card  End-->
    <!--Team Card  Start-->
    <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
      <div class="position-relative tm-card" style="height:550px!important">
        <img src="{% static 'img/team/HEAD_SHOTS/KERRY PENDER - HEAD OF OPERATIONS.jpeg' %}"
        class="w-100" style="height:80%;object-fit:cover;">

        <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
          <div class="card text-white bg-dark mb-3">
            <div class="card-header fs-6 text-center">HEAD OF OPERATIONS</div>
            <div class="card-body">
              <h5 class="card-title text-light text-center pb-3">KERRY PENDER</h5>
              <div class="col-12 d-flex justify-content-center mb-3">
                <div class="d-flex gap-3 justify-content-between">
                  <a class="btn cont-sec"><i class="fa fa-instagram"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-facebook"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-twitter"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-whatsapp"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tm-info text-light">
          <p class="lead text-light">
            Lorem Ipsum is simply dummy text
            of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer
          </p>
        </div>

      </div>

    </div>
    <!--Team Card  End-->



    <!--Team Card  Start-->
    <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
      <div class="position-relative tm-card" style="height:550px!important">
        <img src="{% static 'img/team/HEAD_SHOTS/MARIA VITTORIA CATAMO - HEAD OF MARKETING.jpeg' %}"
        class="w-100" style="height:80%;object-fit:cover;">

        <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
          <div class="card text-white bg-dark mb-3">
            <div class="card-header fs-6 text-center">HEAD OF MARKETING</div>
            <div class="card-body">
              <h5 class="card-title text-light text-center pb-3">MARIA VITTORIA CATAMO</h5>
              <div class="col-12 d-flex justify-content-center mb-3">
                <div class="d-flex gap-3 justify-content-between">
                  <a class="btn cont-sec"><i class="fa fa-instagram"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-facebook"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-twitter"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-whatsapp"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tm-info text-light">
          <p class="lead text-light">
            Lorem Ipsum is simply dummy text
            of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer
          </p>
        </div>

      </div>

    </div>
    <!--Team Card  End-->

    <!--Team Card  Start-->
    <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
      <div class="position-relative tm-card" style="height:550px!important">
        <img src="{% static 'img/team/HEAD_SHOTS/AVERIL RHEAD - PROPERTY SALES CONSULTANT .jpeg' %}"
        class="w-100" style="height:80%;object-fit:cover;">

        <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
          <div class="card text-white bg-dark mb-3">
            <div class="card-header fs-6 text-center">PROPERTY SALES CONSULTANT</div>
            <div class="card-body">
              <h5 class="card-title text-light text-center pb-3">AVERIL RHEAD</h5>
              <div class="col-12 d-flex justify-content-center mb-3">
                <div class="d-flex gap-3 justify-content-between">
                  <a class="btn cont-sec"><i class="fa fa-instagram"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-facebook"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-twitter"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-whatsapp"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tm-info text-light">
          <p class="lead text-light">
            Lorem Ipsum is simply dummy text
            of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer
          </p>
        </div>

      </div>

    </div>
    <!--Team Card  End-->

    <!--Team Card  Start-->
    <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
      <div class="position-relative tm-card" style="height:550px!important">
        <img src="{% static 'img/team/HEAD_SHOTS/LEE CHETTOE - MANAGING DIRECTOR .jpg' %}"
        class="w-100" style="height:80%;object-fit:cover;">

        <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
          <div class="card text-white bg-dark mb-3">
            <div class="card-header fs-6 text-center">MANAGING DIRECTOR</div>
            <div class="card-body">
              <h5 class="card-title text-light text-center pb-3">LEE CHETTOE</h5>
              <div class="col-12 d-flex justify-content-center mb-3">
                <div class="d-flex gap-3 justify-content-between">
                  <a class="btn cont-sec"><i class="fa fa-instagram"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-facebook"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-twitter"></i></a>
                  <a class="btn cont-sec"><i class="fa fa-whatsapp"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tm-info text-light">
          <p class="lead text-light">
            Lorem Ipsum is simply dummy text
            of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer
          </p>
        </div>

      </div>

    </div>
    <!--Team Card  End-->


  </div>
</div>

{%endblock body%} {% block script %} {% endblock script %}
